@model HW6.Models.Specs.SpecsModel
@* Will pass back a SpecsModel*@

@{
    ViewBag.Title = "Specifications";
}

@*Copied from leaflet for map feature*@
<head>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
          integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
          crossorigin="" />

    <!-- Leaflet's JS for use with MapBox -->

    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
            integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
            crossorigin=""></script>

</head>

@* Basic Html elements to show basic specs for the person*@
<div class="row">
    <div class="col-md-6">
        <h2>@Model.Person.FullName</h2>
        <dl class="dl-horizontal">

            <dt> @Html.Label("name", "Preferred Name:") </dt>
            <dd> @Html.DisplayFor(model => model.Person.PreferredName) </dd>

            <dt> @Html.Label("number", "Phone:") </dt>
            <dd> @Html.DisplayFor(model => model.Person.PhoneNumber) </dd>

            <dt> @Html.Label("fax", "Fax:") </dt>
            <dd> @Html.DisplayFor(model => model.Person.FaxNumber) </dd>

            <dt> @Html.Label("email", "Email:") </dt>
            <dd> @Html.DisplayFor(model => model.Person.EmailAddress) </dd>

            <dt> @Html.Label("membership", "Member Since:") </dt>
            <dd> @Html.DisplayFor(model => model.Person.ValidFrom) </dd>
        </dl>
    </div>
    <div class="col-md-4">
        <img src="https://via.placeholder.com/200x250.png?text=No+Photo" alt="@Model.Person.Photo" />
    </div>
</div>
<br />

@* Html elements to show if person is a primary contact person for a customer*@

@if (ViewBag.IsPrimary)
{
    @* For Company Profile Portion*@
    <div class="col-md-6">
        <h2>Company Profile</h2>
        <dl class="dl-horizontal">
            <dt> @Html.Label("company", "Company:") </dt>
            <dd> @Html.DisplayFor(model => model.Customer.CustomerName) </dd>

            <dt> @Html.Label("company-phone", "Phone:") </dt>
            <dd> @Html.DisplayFor(model => model.Customer.PhoneNumber) </dd>

            <dt> @Html.Label("company-fax", "Fax:") </dt>
            <dd> @Html.DisplayFor(model => model.Customer.FaxNumber) </dd>

            <dt> @Html.Label("company-site", "Website:") </dt>
            <dd> @Html.DisplayFor(model => model.Customer.WebsiteURL) </dd>

            <dt> @Html.Label("company-since", "Member Since:") </dt>
            <dd> @Html.DisplayFor(model => model.Customer.ValidFrom) </dd>
        </dl>
    </div>

    @* Copied from leaflet for Map*@
    <div class="col-md-4">
    <div id="map" style="width:500px; height:300px;"> </div>
        <script>
            var long = @Model.Customer.DeliveryLocation.Longitude;
            var lat = @Model.Customer.DeliveryLocation.Latitude;
            var map = L.map('map').setView([lat, long], 15);
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'}).addTo(map);
            L.marker([lat, long]).addTo(map).bindPopup('<p>' + @Model.Customer.City.CityName + '</p>').openPopup();
        </script>
    </div>

    @* For Purchase History Summary *@
    <div class="col-md-7">
        <h2>Purchase History Summary</h2>
        <dl class="dl-horizontal">
            <dt> @Html.Label("orders", "Orders:") </dt>
            <dd> @Html.DisplayFor(model => model.Customer.Orders.Count) </dd>

            <dt> @Html.Label("sales", "Gross Sales:") </dt>
            <dd> @String.Format("{0:C}", ViewBag.Sales) </dd>

            <dt> @Html.Label("profit", "Gross Profit:") </dt>
            <dd> @String.Format("{0:C}", ViewBag.Profit) </dd>
        </dl>
    </div>

    @* For Items Purchased (10 by highest profit) *@
    <div class="col-md-6">
        <h2>Items Purchased</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"> @Html.Label("stockid", "StockItemID") </th>
                    <th scope="col"> @Html.Label("description", "Description") </th>
                    <th scope="col"> @Html.Label("lineprofit", "Line Profit") </th>
                    <th scope="col"> @Html.Label("salesperson", "Sales Person") </th>
                </tr>
            </thead>
            @foreach (var items in Model.InvoiceLine)
            {
                <tbody>
                    <tr>
                        <td> @Html.DisplayFor(item => items.StockItemID) </td>
                        <td> @Html.DisplayFor(item => items.Description) </td>
                        <td> @String.Format("{0:C}", items.LineProfit) </td>
                        <td> @Html.DisplayFor(item => items.Invoice.Person4.FullName) </td>
                    </tr>
                </tbody>
            }
        </table>
    </div>
}
