@model HW6.Models.ViewModel
@* Will pass back a ViewModel*@

@{
    ViewBag.Title = "Specifications";
}

@* Basic Html elements to show basic specs for the person*@
<div class="col-md-10">
    <h2>@Model.Person.FullName</h2>
    <dl class="dl-horizontal">

        <dt> @Html.Label("name", "Preferred Name:") </dt>
        <dd> @Html.DisplayFor(model => model.Person.PreferredName) </dd>

        <dt> @Html.Label("number", "Phone:") </dt>
        <dd> @Html.DisplayFor(model => model.Person.PhoneNumber) </dd>

        <dt> @Html.Label("fax", "Fax:") </dt>
        <dd> @Html.DisplayFor(model => model.Person.FaxNumber) </dd>

        <dt> @Html.Label("email", "Email:") </dt>
        <dd> @Html.DisplayFor(model => model.Person.EmailAddress) </dd>

        <dt> @Html.Label("membership", "Member Since:") </dt>
        <dd> @Html.DisplayFor(model => model.Person.ValidFrom) </dd>
    </dl>
</div>