@model HW6.Models.SpecsModel
@* Will pass back a SpecsModel*@

@{
    ViewBag.Title = "Specifications";
}

@* Basic Html elements to show basic specs for the person*@
<div class="col-md-10">
    <h2>@Model.Person.FullName</h2>
    <dl class="dl-horizontal">

        <dt> @Html.Label("name", "Preferred Name:") </dt>
        <dd> @Html.DisplayFor(model => model.Person.PreferredName) </dd>

        <dt> @Html.Label("number", "Phone:") </dt>
        <dd> @Html.DisplayFor(model => model.Person.PhoneNumber) </dd>

        <dt> @Html.Label("fax", "Fax:") </dt>
        <dd> @Html.DisplayFor(model => model.Person.FaxNumber) </dd>

        <dt> @Html.Label("email", "Email:") </dt>
        <dd> @Html.DisplayFor(model => model.Person.EmailAddress) </dd>

        <dt> @Html.Label("membership", "Member Since:") </dt>
        <dd> @Html.DisplayFor(model => model.Person.ValidFrom) </dd>
    </dl>
</div>

@* Html elements to show if person is a primary contact person for a customer*@

@if (ViewBag.IsPrimary)
{
    <div class="col-md-10">
        <h2>Company Profile</h2>
        <dl class="dl-horizontal">
            <dt> @Html.Label("company", "Company:") </dt>
            <dd> @Html.DisplayFor(model => model.Customer.CustomerName) </dd>

            <dt> @Html.Label("company-phone", "Phone:") </dt>
            <dd> @Html.DisplayFor(model => model.Customer.PhoneNumber) </dd>

            <dt> @Html.Label("company-fax", "Fax:") </dt>
            <dd> @Html.DisplayFor(model => model.Customer.FaxNumber) </dd>

            <dt> @Html.Label("company-site", "Website:") </dt>
            <dd> @Html.DisplayFor(model => model.Customer.WebsiteURL) </dd>

            <dt> @Html.Label("company-since", "Member Since:") </dt>
            <dd> @Html.DisplayFor(model => model.Customer.ValidFrom) </dd>
        </dl>
    </div>
}
