@model HW8.Models.ListViewModel

@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <center>
        <h1>REGINALD'S ANCIENT ANTIQUITIES AUCTION HOUSE</h1>
        <div class="row">
            <div class="col-lg-5">
                <h2>Bid on an Item!</h2>
                <a class="btn btn-default" href="/Auction/CreateBid">Go! &raquo;</a>
            </div>
            <div class="col-lg-5">
                <h2>View all Auction Items</h2>
                <a class="btn btn-default" href="/Auction/IndexList">Go! &raquo;</a>
            </div>
        </div>
    </center>
</div>

<h2>Most Recent Bids:</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Item ID")
        </th>
        <th>
            @Html.DisplayName("Item Name")
        </th>
        <th>
            @Html.DisplayName("Buyer's Name")
        </th>
        <th>
            @Html.DisplayName("Bid Amount")
        </th>
        <th>
            @Html.DisplayName("Bid Timestamp")
        </th>
        <th></th>
    </tr>

    @foreach (var bid in Model.BidsList)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelBid => bid.ItemID)
            </td>
            <td>
                @Html.DisplayFor(modelBid => bid.Item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelBid => bid.Buyer1.Name)
            </td>
            <td>
                @Html.DisplayFor(modelBid => bid.Price)
            </td>
            <td>
                @Html.DisplayFor(modelBid => bid.Timestamp)
            </td>
        </tr>
    }

</table>