@model HW5.Models.Form

@{
    ViewBag.Title = "Create Request Form";
}

<center>
    <h1>Campus Apartments</h1>
    <h4> Tennant Request Form</h4>
</center>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
        <div class="row">
            <div class="col-md-4">
                @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
             </div>

            <div class="col-md-4">
                @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
             </div>

            <div class="col-md-4">
                @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
             </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                @Html.LabelFor(model => model.ApartmentName, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.ApartmentName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ApartmentName, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-4">
                @Html.LabelFor(model => model.UnitNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.UnitNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UnitNumber, "", new { @class = "text-danger" })
             </div>
        </div>
    </div>

    <center>
        <br />
        <br />
        <div class="row">
            @* @Html.EditorFor(model => model.Explanation, new { htmlAttributes = new { @class = "form-control", @rows = 15, @cols=50} }) *@
            @*@Html.ValidationMessageFor(model => model.Explanation, "", new { @class = "text-danger" }) *@
            @Html.TextArea("details", "Explanation of request, maintenance required or complaint. Please be specific.", 15, 30, new { @class = "form-control" , style = " rows=20, columns=100" })
        </div>
    </center>
    <br />

    <center>
    <div class="row">
        <div class="col-md-4">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit Request" class="btn btn-default" />
            </div>
        </div>

        <div class="col-sm-1">
            @*@Html.LabelFor(model => model.Permission, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="checkbox">
                @Html.EditorFor(model => model.Permission)
                @Html.ValidationMessageFor(model => model.Permission, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-4">
            <p>Select here to give permission for the landlord or representative to enter your unit to perform the requested maintenance. We will call first.</p>
        </div>
    </div>
    </center>
 }
<br />
<br />
<br />
<div class="row">
    @Html.ActionLink("Go Back To See All Requests", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
